.text-xl {
    font-size: 1.25rem; /* 20px */
}

.bar {
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.topbar {
    background-color: white;
    border-radius: 4px;
}

.widget {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #444444;
    border-radius: 8px;
    color: white;
    font-family: 'Ubuntu';
    padding: 10px;
}

button:hover {
    color: red;
}
